[submodule "tools/lavender"]
	path = tools/lavender
	url = https://github.com/xforce/lavender.git
[submodule "third_party/spdlog"]
	path = third_party/spdlog
	url = https://github.com/gabime/spdlog.git
