//
// Include the necessary resources
//
#include <version.h>

#ifdef RC_INVOKED

//
// Set up debug information
//
#if DBG
#define VER_DBG VS_FF_DEBUG
#else
#define VER_DBG 0
#endif

// ------- version info -------------------------------------------------------

VS_VERSION_INFO VERSIONINFO
FILEVERSION             VER_FILE_VERSION
PRODUCTVERSION          VER_PRODUCT_VERSION
FILEFLAGS               VER_FILEFLAGS
BEGIN
	BLOCK "StringFileInfo"
	BEGIN
		BLOCK "040904b0"
        BEGIN
		VALUE "FileDescription",  VER_FILE_DESCRIPTION_STR
		VALUE "FileVersion",      VER_FILE_VERSION_STR
		VALUE "InternalName",     VER_INTERNAL_NAME_STR
		VALUE "LegalCopyright",   VER_COPYRIGHT_STR
		VALUE "OriginalFilename", VER_ORIGINAL_FILENAME_STR
		VALUE "ProductName",      VER_PRODUCTNAME_STR
		VALUE "ProductVersion",	  VER_PRODUCT_VERSION_STR
        END
	END
	BLOCK "VarFileInfo"
	BEGIN
		VALUE "Translation", 0x0409,1200
	END
END
#endif
